.right-aside {
  float: right;
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 5px 5px;
  margin-top: 108px;
  margin-right: 25px;
  margin-bottom: 35px;
  margin-left: 25px;
  background-color: #f4f4f4;
}
.aside-content a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.aside-item {
  display: inline-block;
  width: 90%;
  padding: 10px;

}

.aside-item section h2 {
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 8px;
  border-bottom: 1px rgb(217, 217, 217) solid;
}

.aside-item section p {
  padding: 25px 0px;
  padding-left: 10px;
  border-bottom: 1px rgb(217, 217, 217) solid;
  color: rgb(125, 125, 125);
}

.top-stories {
  width: 100%;
  padding: 10px;
}

.top-stories h2 {
  padding: 5px 0px 20px 10px;
  margin-right: 35px;
  border-bottom: 1px rgb(217, 217, 217) solid;
}

.top-stories .aside-item {
  margin-top: 15px;
  margin-left: 10px;
  padding: 0px;
  display: flex;
}

.aside-image img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.aside-content {
  padding-left: 10px;
  margin-right: -7px;
  border-bottom: 1px white solid;
  box-shadow: 0px 0px 10px rgb(207, 207, 207);
  width: 120%;
  border-radius: 7px;
}

.aside-content h1 {
  padding-top: 6px;
  padding-bottom: 4px;
  color: red;
  font-size: 16px;
}

.aside-content p {
  padding-top: 2px;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 500;
}

.aside-content p2 {
  padding-top: 2px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(151, 151, 151);
}

.advertisment {
  align-items: center;
  margin: 35px 40px 0px 10px;
  padding-bottom: 20px;
  border-top: 1px rgb(217, 217, 217) solid;
  border-bottom: 1px rgb(217, 217, 217) solid;
}

.advertisment img {
  padding-top: 20px;
  margin-left: 25px;
  width: 90%;
  height: 50%;
}

.popular-posts {
  width: 100%;
  padding: 10px;
}

.popular-posts h2 {
  padding: 20px 0px 20px 12px;
  margin-right: 35px;
  border-bottom: 1px rgb(217, 217, 217) solid;
}

.popular-posts img {
  margin-left: 10%;
  width: 95%;
  height: 55%;
}

.popular-content {
  margin-left: 10%;
  padding-top: 10px;
}
.popular-content a:link{
  color: black;
  text-decoration: none;
}

.popular-content p {
  padding-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

.popular-content p2 {
  padding-top: 2px;
  font-size: medium;
  font-weight: bold;
  color: rgb(151, 151, 151);
}
