
.moreText{
    display: none;
}
.readMoreBtn {
    display: inline ;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgb(149, 170, 197);
    color: rgb(53, 49, 49);
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
.moreText.show-more{
    display: inline;
}
