* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.nav-bar ul {
    list-style-type: none;
    background-color: #080808;
    display: flex;
}

.nav-bar li {
    margin-left: 185px;
    margin-right: -147px;
}

.nav-bar a {
    position: relative;
    color: #929191;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 27px;
    display: inline-block;
    transition: 0.3s;

}

.nav-bar a::before {
    content: ' ';
    position: absolute;
    left: 8px;
    height: 3.9px;
    width: 0;
    background-color: rgb(128, 150, 150);
    bottom: 2px;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: rgb(247, 250, 250);
    transform: scale(1.1);
}

.nav-bar a:hover::before {
    width: 87%;
}