.main_section {
  margin: 20px;
}

.section_title {
  width: 60%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.section_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post1,
.post2,
.post3,
.post4,
.post5,
.post6,
.post7,
.post8 {
  width: 48%;
  margin-bottom: 20px;
}

.post1 img,
.post3 img,
.post4 img,
.post5 img {
  width: 100%;
  height: auto;
}

.post1_body,
.post2_body,
.post3_body,
.post4_body,
.post5_body,
.post6_body,
.post7_body,
.post8_body {
  padding: 10px;
}

.post1_title,
.post2_title,
.post3_title,
.post4_title,
.post5_title,
.post6_title,
.post7_title,
.post8_title {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}
