body {
  background: rgb(228, 228, 228);
}

.main-section {
  margin-left: 185px;
  margin-top: 57px;


}

.section-title {
  text-align: left;
  margin-bottom: 26px;
}

.section-title h2 {
  margin-left: 5px;
  font-size: 21px;
  color: black;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-with-image {
  align-items: center;
  margin-right: 118px;
}

.post1-image1 {
  width: 78%;
  height: 250px;
  opacity: 1.4;
  filter: brightness(61%);
  background-color: rgb(235, 227, 227);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.post-body {
  margin-top: -4px;
  margin-right: 172px;
  background-color: rgb(255, 253, 253);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 18px;
  text-align: left;
}

.main-section a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 19px;
}

.post-body p {
  padding-top: 18px;
  padding-bottom: 15px;
  font-weight: 600;
  color: rgb(171, 168, 168);
}

p2 {
  font-weight: 500;
  color: rgb(147, 146, 146);
  font-size: 14px;
}

.post2-title {
  margin-top: -438px;
  width: 30%;
  margin-left: 640px;
  margin-right: -20px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  padding: 20px;
}

.post2-title p {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 8px;
}

.side-post2-with-image {
  margin-left: 640px;
  margin-top: -262px;
  border-radius: 5px;

}

.post2-image1 {
  width: 102%;
  border-radius: 4px; 
}

.post3-title a:link {
  margin-right: 420px;
  margin-top: 120px;
  margin-left: 727px;
  position: absolute;
  top: 54%;
  left: 8%;
  color: white;
  font-size: 20px;
}

.post4-title {
  width: 20%;
  margin-top: -75px;
  margin-left: 640px;
  margin-right: 410px;
  margin-bottom: 10px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  padding: 21px;
}

.post5-title {
  width: 20%;
  margin-top: 0px;
  margin-left: 640px;
  margin-right: 410px;
  margin-bottom: 18px;
  background-color: rgb(249, 249, 249);
  border-radius: 5px;
  padding: 21px;
}

.post4-title p {
  font-weight: 700;
  font-size: 17px;
  padding-bottom: 15px;

}

.post5-title p {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;

}

.post1-with-background-image {
  margin-top: -240px;
}

.post3-image1 {
  filter: brightness(75%);
  width: 23%;
  height: 55%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.post1-body {
  margin-top: -4px;
  margin-right: 1028px;
  background-color: rgb(249, 249, 249);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 18px;
  text-align: left;

}

.post6-title p {
  padding-bottom: 15px;
}


.post3-with-image {
  margin-left: 320px;
  margin-top: -328px;
}

.post4-image1 {
  width: 29%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.post2-body {
  margin-top: -10px;
  margin-right: 720px;
  background-color: rgb(253, 251, 251);
  border-radius: 7px;
  padding: 18px;
  text-align: left;
  margin-bottom: 0px;
}

.post7-title p {
  padding-bottom: 0px;
  font-size: 18px;
}
.part2-post1-image{
  width: 46%;
  height: 230px;
  border-radius: 7px;
  opacity: 1.4;
  filter: brightness(65%);
}
.part2-post1{
  margin-top: 20px;
}
.part2-post1-title {
  text-align: center;
  position: absolute;
  top: 1130px;
  left: 15%;
  
}
.part2-post1-title p {
  font-size: 15px;
  color: rgb(243, 243, 243);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.part2-post2-image{
  width: 46%;
  height: 230px;
  opacity: 1.4;
  filter: brightness(80%);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.part2-post2{
  margin-top: 10px;
}
.part2-post2-body {
  margin-top: -4px;
  margin-right: 721px;
  background-color: rgb(255, 253, 253);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 18px;
  text-align: left;
}
.part2-post2-body p{
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: 600;
  color: rgb(171, 168, 168);
}
.part2-side-post1-image{
  width: 20%;
  margin-left: 637px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.part2-side-post1{
  margin-top: -720px;

}
.part2-post2-side-body {
  margin-left: 637px;
  margin-right: 430.5px;
  background-color: rgb(255, 253, 253);
  padding: 13px;
  margin-top: -4px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.part2-post2-title p{
  
  font-size: 16px;
  padding-bottom: 11px;
  
}
.part2-side-post2-image{
  width: 20%;
  margin-left: 637px;
  margin-top: 13px;
  border-radius: 7px;
  opacity: 1.4;
  filter: brightness(65%);
  
}
.part2-side-post2-title{
  text-align: center;
  position: absolute;
  top: 1300px;
  left: 55%;
  margin-right: 440px;
  margin-top: 5px;
}
.part2-side-post2-title p{
  font-size: 17px;
  color: rgb(248, 252, 252);
}
.part2-side-post3-image{
  width: 20%;
  margin-left: 637px;
  margin-top: 13px;
  border-radius: 7px;
  opacity: 1.4;
  filter: brightness(65%);
} 
.part2-side-post3-title{
  text-align: center;
  position: absolute;
  top: 1480px;
  left: 55%;
  margin-right: 440px;
  margin-top: 30px;
}
.part2-side-post3-title p{
  font-size: 17px;
  color: rgb(248, 252, 252);
}
